.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    background: white;
    color: black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
   padding: 50px 0 0 70px ;
}
.order-summury{
    background: wheat;
    color: black;
    padding: 20px;
}